<ion-header>
  <ion-toolbar>
    <ion-title><ion-item>Registrar Usuario<ion-avatar >
      <img alt="UNPGGL" src="../assets/icon/favicon.png" />
    </ion-avatar>
  </ion-item></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
<ion-item position="floating">
  <ion-card>
    <ion-label >
     Primer Nombre
    </ion-label>
    <ion-input type="text" [(ngModel)]="data.pnom" requiered="true"></ion-input>
  </ion-card>

  <ion-card slot="end">
    <ion-label >
     Segundo Nombre
    </ion-label>
    <ion-input type="text" [(ngModel)]="data.snom"></ion-input>
  </ion-card>
</ion-item>
<ion-item >
  <ion-card>
    <ion-label >
      Primer Apellido
    </ion-label>
    <ion-input type="text" [(ngModel)]="data.pape" ></ion-input>
  </ion-card>


  <ion-card slot="end">
    <ion-label >
     Segundo Apellido
    </ion-label>
    <ion-input type="text" [(ngModel)]="data.sape"></ion-input>
  </ion-card>
</ion-item>
<ion-item >
  <ion-card>
    <ion-label >
     Nombre de Usuario
    </ion-label>
    <ion-input type="text" [(ngModel)]="data.nusu" ></ion-input>
  </ion-card>

  <ion-card slot="end">
    <ion-label >
     Contraseña
    </ion-label>
    <ion-input type="password" [(ngModel)]="data.pass" ></ion-input>
  </ion-card>
</ion-item>
<ion-item >
  <ion-card>
    <ion-label >
      Correo
    </ion-label>
    <ion-input type="text" [(ngModel)]="data.email" ></ion-input>
  </ion-card>
  <ion-card slot="end">
    <ion-label>
      Contacto
    </ion-label>
    <ion-input type="text" [(ngModel)]="data.ntel" ></ion-input>
  </ion-card>
</ion-item>

<ion-item>
  <ion-card>    
   <ion-button  color="primary" (click)="ValUsu()">
    <ion-icon name="save"></ion-icon>
    Registar
    </ion-button> 
  </ion-card>
</ion-item>
</div>
</ion-content>
